:root{
    background-size: cover;
    font-size: 20px;
    background-repeat: no-repeat; 
    background-position:center; 
    background-attachment: fixed;
    background-image: url('elect.jpeg'); 
    color:white;
    font-weight: bold;
   
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* /*  ADAPTATION ORDINATEUR  */
@media  only screen and (min-width: 768px){
     header{
    flex-direction: column;
    border: none;
    background: transparent;
    cursor: pointer;
    width:100%;
    height:400px;
    background-image: url('electphenonmen.jpeg');  
    background-size: 900px;
    gap: 10px;
    margin: 20px;
} 
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Toute la hauteur de l'écrant*/
    font-family: 'Inter', sans-serif;

}



.brand{
   display: flex;
   width:100%;
   height:400px; 
}


.logo-image{
    display: flex;
    justify-content: center;
    max-width: 200px;
    max-height: 200px; 
    margin-left:40%;
    margin-top: 30px;
}


.tagline{
 margin-top:20px;
padding-left:10px ;
}

.language-selector{
    display: flex;
    justify-content: right;
    margin-top: -110px;

    
}


.auth-button{
    display: flex; /* pour aligner les deux boutons sur une ligne*/
    gap: 10px; /*Espace entre les deux boutons  */
}



.btn{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;/* Enleve le soulignement des liens  */
    border-radius: 30px;/*Arrondir les coins */
    font-weight: bold;
    transition: 0.3s; /*Annimation douce au survol */
}



/* STYLE SPEFICIQUE POUR CONNEXION (discret) */
.btn-login{
    color:white; /* un bleu de mon logo*/
    border: 2px solid #003399;
    background-color: #003399;
}

.btn-signup{
    background-color: #003399;
    color: white;
    border: 2px solid #003399;
}

.btn:hover{
    opacity: 0.8;
    transform:scale(1.05);
}
.serv:hover{
    opacity: 0.8;
    transform:scale(1.05) 
}
.serv{
    display: inline-block;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.dih{
    max-width: auto; 
    max-height: 500px;

}


/* fin header */

.services{
    background-repeat: no-repeat;
    font-weight: bold;
    display: inline-block;
    height: 100%;margin-top: 200px;


}


.formations{
    background-image: url('informatique_embarqué.jpeg'); 
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    height: auto; 
    width:auto;
    font-size: 100%;
    font-family: white; 
    backface-visibility: initial;
    color: white;
}
 .formation{
    padding-bottom: 10px;
 }


/* partie footer */
.NAV{
    
    display:flex;
    justify-content: right;
    
    
    
    
}
.afg{
    display: inline-block;
    color: white;
    text-decoration: none;
    transition:0.3s;

}
.afg:hover{
   opacity:0.8 ;
   transform:scale(1.05); 
}

.arr{
    transition: 1.8em;
    opacity:3;
    transform:scale(1.06);
}
.agg{
    display:block;
}




}











/*  ADAPTATION  SUR MOBILE  */
@media  only screen and (max-width: 768px){
    
 header{
    display: flex;
    flex-direction: column;
    border: none;
    background: transparent;
    cursor: pointer;
    width:100%;
    height:auto;
    background-image: url('electphenonmen.jpeg');  
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    align-items:flex-end;
    justify-content: center;
    min-height: 300px;
    padding: 20px;
    box-sizing: border-box;
   
    } 
    .ch1 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;


       }
        .ch1 h1{
        font-size: 1.1rem;
        margin: 0;
        

       }


       body{
        display: flex;
        flex-direction: column;
        height:auto; /* Toute la hauteur de l'écrant*/
        font-family: 'Inter', sans-serif;
        width: 100%;
        align-items:center;


        

        }



        .brand{
            display: flex;
            width:100%;
            margin-bottom:10px;
         
        }


    .logo-image{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto; 
    
        align-items: flex-end;
    }
    .tagline{
        display: none;
    }


    .language-selector{
        display: flex;
        justify-content: right;
        

        
    }


    .auth-button{
        display: flex; /* pour aligner les deux boutons sur une ligne*/
        gap: 10px; /*Espace entre les deux boutons  */
        padding-top:20px ;
    }



    .btn{
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;/* Enleve le soulignement des liens  */
        border-radius: 30px;/*Arrondir les coins */
        font-weight: bold;
        transition: 0.3s; /*Annimation douce au survol */
    }



    /* STYLE SPEFICIQUE POUR CONNEXION (discret) */
    .btn-login{
        color:white; /* un bleu de mon logo*/
        border: 2px solid #003399;
        background-color: #003399;
    }

    .btn-signup{
        background-color: #003399;
        color: white;
        border: 2px solid #003399;
    }

    .btn:hover{
        opacity: 0.8;
        transform:scale(1.05);
    }
    .serv:hover{
        opacity: 0.8;
        transform:scale(1.05) 
    }
    .serv{
        display: inline-block;
        transition: 0.3s;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    .dih{
        max-width: auto; 
        max-height: 500px;

    }


/* fin header */

    .services{
        background-repeat: no-repeat;
        font-weight: bold;
        display: inline-block;
        height:auto;
        margin-top: 200px;
        padding: 10px 20px;


    }

    .service{
        padding-bottom: 10px;
    }

    .formations{
        background-image: url('informatique_embarqué.jpeg'); 
        background-size: 100% 100%;
        background-repeat: no-repeat; 
        height: auto; 
        width:100%;
        font-size: 100%;
        font-family: white; 
        backface-visibility: initial;
        color: white;
        padding: 10px 10px;
    }

    .formation{
        padding-bottom: 10px;
    }


    .ul_forma{
        padding-top: 20px;
    }
    /* partie footer */
    .NAV{
        
        display:flex;
        justify-content: right;
        
        
        
        
    }
    .afg{
        display: inline-block;
        color: white;
        text-decoration: none;
        transition:0.3s;

    }
    .afg:hover{
    opacity:0.8 ;
    transform:scale(1.05); 
    }

    .arr{
        transition: 1.8em;
        opacity:3;
        transform:scale(1.06);
    }
    .agg{
        display:block;
        
    }

    .foot, .footer-links, .footer-socials, .footer-bottom{
        padding: 10px 10px;
    }


}

